.input-select {
  appearance: none;
  background-image: url('./chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 18px;
  padding: .625rem 2.5rem .625rem 1rem !important;
}
