.header {
  > div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    > .ui-container {
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > .header-tools {
        display: flex;

        > * {
          width: 100%;
        }
      }
    }
  }
}
