// Grayscale
$white: #fff;
$gray-200: #f3f5f9;
$gray-300: #e3e9ef;
$gray-400: #dae1e7;
$gray-600: #7d879c;
$gray-700: #4b566b;
$gray-900: #2b3445;

// Brand colors
$primary: #fe696a;
$secondary: $gray-200;
